
record(stringin, "$(P)BL:$(BL):VAT:STAT")
{
   field(DTYP, "asynOctetRead")
   field(INP,  "@asyn(isisbeam,0,0)$(BL)VAT")
   field(SCAN, "I/O Intr")
   field(SDIS, "$(P)ISISBEAM:DISABLE")
   field(DESC, "VAT value status on beamline $(BL)")
}

alias("$(P)BL:$(BL):VAT:STAT","$(P)IN:$(INST):VAT:STAT")
$(IFINST2)alias("$(P)BL:$(BL):VAT:STAT","$(P)IN:$(INST2):VAT:STAT")
$(IFINST3)alias("$(P)BL:$(BL):VAT:STAT","$(P)IN:$(INST3):VAT:STAT")
